.idea/workspace.xml
\.idea/workspace\.xml

\.idea/misc\.xml

\.DS_Store

\.idea/vcs\.xml

CDIO_3\.iml

\.idea/

opencv-3\.2\.0-0/META-INF/

opencv-3\.2\.0-0/nu/pattern/

opencv-3\.2\.0-0/org/opencv/calib3d/

opencv-3\.2\.0-0/org/opencv/core/

opencv-3\.2\.0-0/org/opencv/features2d/

opencv-3\.2\.0-0/org/opencv/imgcodecs/

opencv-3\.2\.0-0/org/opencv/video/

opencv-3\.2\.0-0/org/opencv/ml/

opencv-3\.2\.0-0/org/opencv/objdetect/

opencv-3\.2\.0-0/org/opencv/photo/

opencv-3\.2\.0-0/org/opencv/videoio/

opencv-3\.2\.0-0/org/opencv/imgproc/

opencv-3\.2\.0-0/org/opencv/utils/

CDIO_3_DRONE\.iml

.idea*
